 
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        
      }
      .example-card {
        max-width: 100%;
        
      }

      .mat-card-avatar {
        width: 100px;
        height: 100px;
      }

      .mat-stroked-button{
        border: 1px solid #66d1ff;
        color: #66d1ff;
    }
    .mat-raised-button{
        background-color: #1192ee;
        
    }

     
  
.form-box{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
}
.form-box mat-form-field{
    flex: 1;
    margin-right: 10px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }



